global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend fe_web
    bind *:80
#    bind *:443 ssl crt /usr/local/etc/haproxy/certs/lab.khakim-projects.xyz.pem
#    http-request redirect scheme https unless { ssl_fc }
    option forwardfor
    default_backend be_web

backend be_web
    balance roundrobin
    option httpchk GET /
    server web01 web01:80 check
    server web02 web02:80 check

#listen stats
#    bind *:8404
#    stats enable
#    stats uri /stats
#    stats refresh 5s
